.contacts-container {
  .contact-items {
    > div {
      padding: 20px 0;
      a:not(.mail-contact) {
        text-transform: capitalize;
        margin: 1em;
      }
      &:not(:last-child) {
        border-bottom: 1px black solid;
      }
    }
    .contact-info {
      .la-icon.mail {
        height: 2em;
        margin-right: 5px;
      }
    }
  }
}
