.contacts-container {
    .contact-items {
        padding: 15px 0;
        text-align: center;
    
        p {
          vertical-align: middle;
          height: 2em;
          a {
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
            cursor: pointer;
    //        height: 2em;
            padding-left: 2em;
            position: relative;
            top: .5em;
    //        width: 2em;
    
            &.phone-contact {
              margin-left: .3em;
              padding-left: 1.7em;
            }
          }
        }

        .contact-info {
            border-bottom: 1px black solid;
            padding: 0 0 20px 0;
            p {
              display: block;
            }
            a {
              // font-family: $defaultFont;
            }
          }
    .social-info {
        padding: 20px 0;
        border-bottom: 1px black solid;
        a {
          margin: 10px;
          span {
            background-size: contain;
            width: 28px;
            height: 28px;
            display: inline-block;
            margin-left: 5px;
            vertical-align: middle;
          }
        }
      }
      .shops-info {
        padding: 20px 0;
        a {
          display: inline-block;
          padding: 0 4px;
        }
        img {
          width: 50px;
          padding: 10px;
        }
    }
    }

   

    .fb-contact {
        background: url(../../../assets/images/social/facebook.svg);
    //    background: url(../images/social/contact-fb.svg);
      }
    
      .phone-contact {
        background: url(../../../assets/images/icons/phone.svg);
    //    background: url(../images/icons/contact-phone.svg);
      }
    
      .mail-contact {
        background: url(../../../assets/images/icons/mail.svg);
    //    background: url(../images/icons/contact-mail.svg);
      }
    
      .vk-contact {
        background: url(../../../assets/images/social/vk.svg);
      }
    
      .twitter-contact {
        background: url(../../../assets/images/social/twitter.svg);
      }
    
      .instagram-contact {
        background: url(../../../assets/images/social/instagram.svg);
      }
    }
