<div class="contacts-container">
    <div *ngIf="contacts" class="contact-items col-xs-12">
      <div class="contact-info">
        <p>
          <a [href]="'mailto:' + contacts.email" target="_top" class="mail-contact">E-mail: {{contacts.email}}</a>
        </p>
      </div>
      <div class="social-info">
        <p><span translate>FollowSocial</span></p>
         <a *ngFor="let s of social" [href]="s.url" >{{s.network}}<span class="la-icon {{s.network}}"></span></a>
      </div>
      <div class="shops-info">
        <p><span translate>GoShops</span></p>
        <a *ngFor="let shop of shops" [href]="[shop.link]" target="_blank" [title]="shop.title" >{{shop.title}}<span class="la-icon {{shop.title}}"></span></a>
      </div>
    </div>
  </div>