.blog-post-wrapper {
    flex-grow: 1;
    transition: all 400ms ease;
    &.open {
        flex-shrink: 1;
    }
}

// .col-8 {
//     flex-grow: 1;
//     transition: all 400ms ease;
//   }
  
//   .col-0 {
//     width: 0; 
//     flex-shrink: 1;
//     transition: all 400ms ease;
//   }