<div appFixed [ngClass]="{open: (showNavigation | async)}" class="sub-navigation">
    <ul class="nav text-center p-1 d-flex justify-content-around">
        <li class="nav-item p-2">
          <a *ngIf="(next | async) as nextPost; else disabledLink" class="nav-link" [routerLink]="[baseUrl, nextPost.id]" translate>Next</a>
          <ng-template #disabledLink>
              <a class="nav-link disabled" translate>Next</a>
          </ng-template>
        </li>
        <li class="nav-item p-2"><a class="nav-link" [routerLink]="[baseUrl]" translate>All posts</a></li>
        <li class="nav-item p-2">
          <a *ngIf="(prev | async) as prevPost; else disabledPrevLink" class="nav-link" [routerLink]="[baseUrl, prevPost.id]" translate>Previous</a>
          <ng-template #disabledPrevLink>
              <a class="nav-link disabled" translate>Previous</a>
          </ng-template></li>
      </ul>
</div>
<div class="row justify-content-center">
  <div class="col-x-sm-12 col-md-9 col">
      <div [@pagesAnimation]="routeState | async" class="app-content">
          <router-outlet class="route-content"></router-outlet>
      </div>
  </div>
</div>
