@import '../../../vars_.scss';

.footer {
  background: $footerBackground;
  margin: 0;
  > div {
    border-left: white 1px solid;
    border-right: white 1px solid;
  }

  ul.site-map {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    padding: 0 1rem;
    li a {
      color: rgba(0,0,0,.9);
    }
  }

  .section-title {
      color: rgba(0,0,0,.9);
  }

  .contacts-footer {
    ul {
      padding-bottom: 10px;
      margin: 0;
      li {
        > a {
          text-decoration: none;
        }
        padding-bottom: 10px;
      }
    }

    .contact-info {
      line-height: 39px;
      vertical-align: top;
      color:#000000;
      padding-left: 10px;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -o-transition: all .5s;
      -ms-transition: all .5s;
      transition: all .5s;
      &:hover {
        color:#F94B4B;
      }
    }
  }
  
  ul {
    list-style:none;
    padding: 0;
  }

  .gallery-footer ul:nth-of-type(1) {
    padding-bottom: 10px;
  }

  .social {
    li {
      display: inline-block;
      width: 23%;
    }
    div {
      cursor: pointer;
      display: inline-block;
      width: 39px;
      height: 39px;
    }
  }
  .copy-right {
    font-size: 0.95em;
    color: #000000;
    p {
      font-size:0.95em;
    }

    a {
      color:#F94B4B;
      &:hover {
        color: #000000;
        text-decoration:underline;
      }
    }
  }
 
  .footer_nav li a:hover{
    color:#F94B4B;
  }

  .mail {
    width: 39px;
    height: 39px;
    display: inline-block;
  }
}

@media all and (max-width: 420px) {
  .footer {
    .container>div {
      padding-left:10px;
      padding-right:10px;
      margin-bottom: .5em;
    }

    .mail {
      width: 25px;
      height: 25px;
    }

    .contacts-footer .contact-info {
      line-height: 25px;
      &:first-child {
        font-size: 9px;
      }
    }

    .mail-ico +span {
      font-size: 14px;
    }

    .social li {
      width: 24%;
    }
    .copy_right {
      font-size: 0.8em;
      padding-top: 10px;
    }
  }
}

.loaded {
  .header_bottom {
    visibility: visible;
  }
}

.loaded {
  .lang {
    visibility: visible;
  }
}

.lang {
  visibility: hidden;
}

.loaded {
  .footer {
    visibility: visible;
  }
}

.footer {
  width: 100%;
  left: 0;
  .container {
    max-width: 85%;
    width: 85%;
  }
}
