<div class="footer">
  <div class="container pb-0">
    <div class="row">
      <ul class="site-map col-md-4 col-xs-12 col-sm-4" >
        <li *ngFor="let page of pages"><a [routerLink]="page.link">{{page.title.rendered}}</a></li>
      </ul>
      <div class="col-md-4 col-xs-12 col-sm-4 contacts-footer">
        <h5 class="text-left"><a class="section-title" href="contacts" [translate]="'Contact'"></a></h5>
        <ul>
          <li>
            <a [href]="'mailto:' + contacts.email" target="_top">
              <span class="la-icon mail"></span>
              <span class="contact-info">{{contacts.email}}</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-xs-12 col-sm-4 social-footer">
        <h5 translate="social.title" class="section-title text-left" [translate]="'JoinSocial'"></h5>
        <ul class="social">
          <li *ngFor="let s of social"><a [href]="s.url" target="_blank"><div class="la-icon {{s.network}}"></div></a></li>
        </ul>
      </div>
      <div class="col-12 copy_right">
          <p>&copy; 2015 All Rights Reserved Designed by <a href="#">LidikART</a> </p>
        </div>
    </div>
  </div>
</div>