#galleries-navigation {
  &.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background: #F6F6F6;
    margin: 0 15px;
    ul {
      width: 85%;
      margin: auto;
    }
  }
    ul {
        display: table;
        list-style-type: none;
        margin: 0;
        padding: 10px;
        text-align: center;
        width: 100%;
        li {
          display: table-cell;
          padding: .5em;
          font-weight: 800;
          text-align: center;
          text-align-last: end;
          a {
            color: #888;
            font-weight: 500;
            font-size: 14px;
            &.active {
              color: rgba(0,0,0,.9);
            }
          }
    
          a:hover {
            color: black;
            //color: rgba(130, 40, 80, 0.8);
          }
        }
      }
}

@media only screen and (max-width: 420px) {
    #galleries-navigation {
        overflow-x: scroll;
    }
}