<div id="galleries-navigation" #filter>
  <ul *ngIf="categories && categories.length" class="nav">
    <li *ngFor="let cat of categories; let i = index" class="nav-item">
      <a *ngIf="cat.id" [routerLink]="[urlPath, {'serie': cat.id}]" class="nav-link" [ngClass]="{active: cat.id === serie_}">{{cat.name}}</a>
      <a *ngIf="!cat.id" [routerLink]="[urlPath]" class="nav-link" [ngClass]="{active: !serie_}">{{cat.name}}</a>
    </li>
  </ul>
</div>
<app-fancy-album [pic]="albumState.pic" [items]="pictures"></app-fancy-album>