<div id="galleries-navigation" #filter>
  <ul *ngIf="categories && categories.length" class="nav d-none d-lg-block text-center p-1">
    <li *ngFor="let cat of categories; let i = index" class="nav-item p-2">
      <a *ngIf="cat.id" [routerLink]="[urlPath, {'serie': cat.id}]" class="nav-link" [ngClass]="{active: cat.id === serie_}">{{cat.name}}</a>
      <a *ngIf="!cat.id" [routerLink]="[urlPath]" class="nav-link" [ngClass]="{active: !serie_}">{{cat.name}}</a>
    </li>
  </ul>
  <div *ngIf="serie" class="dropdown d-lg-none text-center p-1">
    <span translate>Series</span>:
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{serie.name}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <ng-container *ngFor="let cat of categories; let i = index">
          <a *ngIf="!cat.id" [routerLink]="[urlPath]" class="nav-link" [ngClass]="{active: !serie_}" translate>All</a>
          <a *ngIf="cat.id" [routerLink]="[urlPath, {'serie': cat.id}]"  class="nav-link" [ngClass]="{active: cat.id === serie_}">{{cat.name}}</a>
      </ng-container>
    </div>
  </div>
</div>
<app-fancy-album [pic]="albumState.pic" [items]="pictures"></app-fancy-album>