.la-img {
    height: 25em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(../../../assets/images/lidikart.jpg)
}

.exhibition-image {
    // background-size: cover;
    margin: auto;
    // margin: 1em 0;
}

.view {
    background: white;
}