@import '../vars_.scss';

.route-content > * {
  position: relative;
}
.app-content {
  position: relative;
}
@media only screen and (max-width: 420px) {
  .container {
    width : 100%;
  }
}

.error-list {
  position: absolute;
  top: 0;
  width: 100%;
  background:  $footerBackground;
}
