<div class="container-fluid p-0">
        <ng4-loading-spinner [timeout]="1000"></ng4-loading-spinner>
  <div class="row app-content align-top no-gutters">
      <div #header class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-10 offset-md-1">
        <app-navigation></app-navigation>
      </div>
      <app-banner #banner class="col-12"></app-banner>
      <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-10 offset-md-1 app-content" [ngStyle]="{'min-height': contentHeight}">
          <router-outlet class="content"></router-outlet>
      </div>
      <div #footer class="col-12">
          <app-footer></app-footer>
      </div>
    </div>
</div>