.container {
  font-family: "Comfortaa", "Open Sans", sans-serif;
  background: #F6F6F6;
  color: #333;
  width: 80%;
  min-height: 100vh;
}

@media only screen and (max-width: 420px) {
  .container {
    width : 100%;
  }
}
