.banner {
    background: url(../../../assets/images/banner.jpg) no-repeat center top;
    background-size: 100% auto;
    padding: 5.5em 0 1em;
    height: 100px;
    top: 0;
    left: 0;

}

.line {
    border-bottom: black solid 1px;
}