.exhibition-container {
    .banner {
        width: 100%;
    }
    h3 {
        text-align: center;
    }
}

:host ::ng-deep .exhibition-album .album-wrapper {
    display: block;
    > div {
        float: left;
    }
}