<div *ngIf="data" class="blog-post p-4 m-2" [class.open]="open">
    <header>
        <h3 *ngIf="title" class="d-inline-block mr-2" [innerHTML]="title"></h3><span>{{publishDate}}</span>
    </header>
    <div *ngIf="!open; else fullPost" class="text-justify">
        <img class="thumbnail" [img-loader]="image">
      <!-- <a href="{{image}}"
        class="thumbnail fancybox slide post"
        data-fancybox="blog">
        <img [img-loader]="image">
      </a> -->
      {{shortText}} <a (click)="toggle()" translate>Details</a>
    </div>
    <ng-template #fullPost>
      <div [innerHTML]="text" class="text-justify"></div>
      <a (click)="toggle()" class="mr-2" translate>HideDetails</a>
      <div class="fb-like"
        attr.data-href="{{shareUrl}}"
        data-layout="standard"
        data-action="like"
        data-share="true"
        data-show-faces="false">
      </div>
    </ng-template>
</div>