@import 'vars_.scss';

html, body {
    height: 100%;
}
body {
    font-family: $fonts;
    background: $backgroundColor;
}

.fancybox-caption > span {
    padding-right: 1em;
}

a {
    color: $linkColor;
    text-decoration: none;
    transition: 0.5s all;
}

a:hover {
    color: $linkHover;
}

// Icons.
.la-icon {
    background-size: contain;
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}

@each $i in $icons {
    .la-icon.#{$i} {
        background-image: url(assets/images/social/#{$i}.svg);
    }
}