// Icons
$icons: 'youtube' 'facebook' 'phone' 'mail' 'vkontakte' 'twitter' 'instagram' 'behance' 'pdf';

// Font
$fonts: "Comfortaa", "Open Sans", sans-serif;

// Colors
$fontColorBase: rgba(0, 0, 0, 0);
$linkColor: #1B242F;
$fontColor: opacify($color: $fontColorBase, $amount: 1);
$linkHover: rgba(130,40,80, 0.8);
$backgroundColor: #F6F6F6;
$footerBackground: #ccc;
$linkPrimaryColor: #0073aa;