// Icons
$icons: 'youtube' 'facebook' 'phone' 'mail' 'vkontakte' 'twitter' 'instagram' 'behance' 'pdf';

// Font
$fonts: "Comfortaa", "Open Sans", sans-serif;

// Colors
$linkColor: #1B242F;
$linkHover: rgba(130,40,80, 0.8);
$backgroundColor: #F6F6F6;