<div class="album-wrapper row justify-content-center no-gutters" [ngClass]="sizeClass">
  <ng-content></ng-content>
  <div *ngFor="let item of items" class="image text-center" [ngClass]="{'col-12 col-xl-5': sizeVal === 'big'}">
    <a *ngIf="item" href="{{item.src}}"
      [class]="'thumbnail fancybox slide ' + item.post.format"
      attr.data-pic-id="{{item.post.id}}"
      data-fancybox="gallery"
      title="{{item.post.title.rendered}}">
      <img [img-loader]="item.thumb[sizeVal]">
    </a>
  </div>
</div>
