.image {
    text-align: center;

    a {
        overflow: hidden;
        margin: 1em auto;
        display: block;
        position: relative;
        background: #DC554F url(../../../assets/images/lidikart.jpg) no-repeat center;
        background-size: cover;
        height: 158px;
        width: 225px;
    }

    a:hover {
        box-shadow: 10px 10px 10px rgba(50, 50, 50, 0.5);
        transform: scale(1.05);
    }

    img {
        min-height: 158px;
        min-width: 225px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .youtube-video::after {
        content: '';
        display: block;
        position: absolute;
        opacity: .5;
        width: 100%;
        height: 100%;
        background-image: url(../../../assets/images/youtube_play.png);
        background-repeat: no-repeat;
        background-position: center;
        transition: opacity 1s;
    }
}