<div class="album-wrapper row no-gutters">
  <ng-content></ng-content>
  <div *ngFor="let item of items" class="col-lg-4 col-xl-3 col-md-4 col-xs-6 col-sm-6 image">
    <a *ngIf="item && item.post.format === 'standard'" href="{{item.src}}"
      class="thumbnail fancybox slide"
      attr.data-pic-id="{{item.post.id}}"
      data-fancybox="gallery"
      rel="ligthbox"
      title="{{item.post.title.rendered}}">
      <img class="img-responsive" [img-loader]="item.thumb">
    </a>

    <a *ngIf="item && item.post.format === 'video'" href={{item.post.acf.url}}
       data-fancybox="gallery" class="fancybox-thumb fancybox-buttons youtube-video"
       rel="fancybox-thumb fancybox-buttons"
       title="{{item.post.title.rendered}}"
       attr.data-pic-id="{{item.post.id}}"
       data-fancybox-group="button">
      <img src="{{item.thumb}}" />
    </a>
  </div>
</div>
