<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <h1>LidikART
      <span translate="title" class="ng-scope">інший світ</span>
    </h1>
    <div class="logo-image"></div>
  </a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav dropdown" *ngFor="let page of pages" >
      <div *ngIf="page.categories[page.slug]; then dropdown else link"></div>

      <ng-template #link><a class="nav-item nav-link" [routerLink]="page.slug">{{page.title.rendered}}</a></ng-template>
      <ng-template #dropdown>
        <a class="nav-link dropdown-toggle" (click)="navigateTo(page.slug)" id="nav-cat-{{page.slug}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{page.title.rendered}}
      </a>
        <div class="dropdown-menu" [attr.aria-labelledby]="'nav-cat-' + page.slug">
          <a class="dropdown-item" *ngFor="let category of page.categories[page.slug]" [routerLink]="['/' + page.slug, category.id]">{{category.name}}</a>
        </div></ng-template>
    </div>
  </div>
</nav>
