nav {
  align-items: stretch;
  padding: 0;
}

.navbar-collapse {
  align-items: stretch;
  // justify-content: space-around;
}
.navbar {
  .dropdown {
    align-items: center;
    &.active, &.active2 {
      background: #bd90a4;
    }
    &:hover {
      background: #822850;
      .dropdown-menu {
        display: block;
      }
      a {
        color: white;
      }
    }
  }
  .nav-link {
    cursor: pointer;
    font-weight: bolder;
    padding: 0 1em;
    
  }
}

.navbar-brand {
  > * {
    display: inline-block;
  }
  h1 {
    color: rgba(130, 40, 80, 0.8);
    text-align: center;
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 0;
  }
}

h1 span {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  display: block;
}

.logo-image {
  height: 68px;
  width: 40px;
  background-image: url(../../../assets/images/lidikart-logo.png);
  background-size: 200%;
  background-position: 50% 45%;
}

.dropdown-menu {
  margin: 0;
}

ul.lang {
  padding: 0;
  margin: 0;
  align-items: center;
  li {
    display: inline-block;
    padding: 0 .5em;
    cursor: pointer;
    > a {
      color: rgba(0,0,0,.5);
    }
    &.active > a {
      color: rgba(0,0,0,.9);
    }
  }
}

@media only screen and (max-width: 420px) {
  .navbar-brand h1 {
    font-size: 1.5em;
  }
}
