<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" [routerLink]="dataService.langURLPrefix">
    <h1>LidikART<span class="ng-scope">{{'Title' | translate }}</span></h1>
    <div class="logo-image"></div>
  </a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav dropdown" *ngFor="let page of pages" >
        <a class="nav-item nav-link" [ngClass]="{active2: page.slug === 'gallery' && router.url === '/'}" [routerLink]="page.link" routerLinkActive="active">{{page.title.rendered}}</a>
        <!-- <a class="nav-item nav-link" [routerLink]="[{ outlets: { primary: [page.link],banner: ['about'] } }]" routerLinkActive="active">{{page.title.rendered}}</a> -->
        
    </div>
  </div>
  <ul class="lang">
    <li *ngFor="let lang of languages" [ngClass]="{active: lang.value===dataService.langValue}"><a (click)="selectLanguage(lang.value)">{{lang.label}}</a></li>
  </ul>
</nav>
